- name: Send Reports
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_ADDRESS }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: "Weekly CBI Register Report & Recent ETFs"
          to: ${{ secrets.EMAIL_ADDRESS }}
          from: "CBI Automation"
          html_body: file://email_body.html
          attachments: "CBI_Full_Database.xlsx,CBI_New_Weekly_Funds.xlsx,CBI_All_ETFs_List.xlsx"
